<patTemplate:tmpl name="page">
  <h1>{FOO}</h1>
  <patTemplate:tmpl name="child">
  <h2>{BAR_FOO}</h2>
  <p>{BAR_BAR}</p>
  <h2>{BAZ_FOO}</h2>
  <p>{BAZ_BAR}</p>
  </patTemplate:tmpl>
</patTemplate:tmpl>