<!-- $Id: hint.tmpl 320 2004-10-28 15:07:07Z schst $ -->
<patTemplate:tmpl name="hint">
<div style="border-width: 1px; border-style: dashed; border-color: #000000; padding: 10px; 20px; background-color: #ccffcc; margin:10px;">
	<strong>{TITLE}</strong>
	<div style="padding-left: 20px;">
		{CONTENT}
	</div>
</div>
</patTemplate:tmpl>