<!-- $id$ -->
<patTemplate:tmpl name="news">
<div style="background-color: #dddddd; padding: 5px; margin-bottom: 20px;">
	<strong>{HEADLINE}</strong><br />
	<em>By <patTemplate:var name="author" default="Stephan Schmidt"/> on {DATE}</em><br />
	<br />
	{CONTENT}
</div>
</patTemplate:tmpl>