<patTemplate:tmpl name="page">
The page template includes other templates, using the <strong>src</strong> and <strong>relative</strong> attribute:<br />
<br />
Header:<br />
<patTemplate:tmpl name="header" src="example_attributes_relative_header.tmpl" relative="yes" parse="on" />
<br />
Main:<br />
<patTemplate:tmpl name="main" src="example_attributes_relative_main.tmpl" relative="yes" parse="on" whitespace="trim" />
<br />
Main:<br />
<patTemplate:tmpl name="footer" src="example_attributes_relative_footer.tmpl" relative="yes" parse="on" />

</patTemplate:tmpl>
