This is the main template<br />
<patTemplate:tmpl name="nested">
This is   in
a nested
template.<br />

<patTemplate:tmpl src="example_attributes_relative_main2.tmpl" relative="yes"/>

</patTemplate:tmpl>
And this in main<br />
(located in relative/)<br />