<!-- $Id: example_misc_quote.tmpl 319 2004-10-28 12:44:48Z schst $ -->
<patTemplate:tmpl name="root">
This variable will be removed: {VAR}<br />
This should be kept: \{VAR\}<br />
Quoting two times: \\{VAR\\}<br />
<input type="string" name="test1" value="{TEST1}" /><br />
<input type="string" name="test1" value="\{TEST1\}" /><br />
</patTemplate:tmpl>
