<!-- $Id: example_attributes_loop.tmpl 467 2008-01-16 16:27:18Z gerd $ -->
<patTemplate:tmpl name="page">

	<patTemplate:tmpl name="row" loop="10">
	{PAT_ROW_VAR} {HERO}<br />
	</patTemplate:tmpl>
    <hr />
    <patTemplate:tmpl name="list" loop="{ROWS}">
    {PAT_ROW_VAR} {HERO}<br />
    </patTemplate:tmpl>
    <hr />
    <patTemplate:tmpl name="list2" loop="{GLOBAL_ROWS}">
    {PAT_ROW_VAR} {HERO}<br />
    </patTemplate:tmpl>

</patTemplate:tmpl>
