<!-- $Id: example_filter_output_multiple.tmpl 128 2004-04-19 20:40:26Z schst $ -->
<patTemplate:tmpl name="page">
This is a template that is very long.

It conatins linebreaks and some whitespace, that will be removed when sending
the data to the client.

A question of Transport
Next month one pat-Team guy will travel to the fifth continent - me!

I applied for a visa, resigned from my loved job and we move out of our smart apartement.
I planed stay in Australia about one year - enough time for working, vacation and to do little socializing.
Beside these daily adventures expected Down Under, I tried to sign on an freighter and travel
as a shipboy to Australia. Sadly, I havn't found a ship or a skipper, yet. Of course there are lot
of shipping companies running vessel from Europe to Australia, but they don't want to hire a novic
sailor just for a single transit.

So I decided to post me tragedy, maybe you know somebody who knows somebody who may help me ...

Thanks in advance,

gERD
</patTemplate:tmpl>
