<patTemplate:tmpl name="page">
The page template includes other templates, using the <strong>src</strong> attribute:<br />
<br />
Header:<br />
<patTemplate:tmpl name="header" src="example_attributes_src_header.tmpl" parse="on" />
<br />
Main:<br />
<patTemplate:tmpl name="main" src="example_attributes_src_main.tmpl" parse="on" whitespace="trim" />
<br />
Main:<br />
<patTemplate:tmpl name="footer" src="example_attributes_src_footer.tmpl" parse="on" />

</patTemplate:tmpl>
