<!-- $Id: example_function_translate2.tmpl 258 2004-08-10 19:20:25Z schst $ -->
<patTemplate:tmpl name="motu">
	This is in another file.
	<pattemplate:Translate>By the power of Greyskull!</patTemplate:Translate><br />
</patTemplate:tmpl>