<!-- $Id: example_var_modifier.tmpl 297 2004-10-03 11:35:57Z gerd $ -->
<patTemplate:tmpl name="page">
Apply two modifiers modifier to multiline:
<patTemplate:var name="multiline" modifier="htmlentities, nl2br" modifierType="php"/>
<hr />
</patTemplate:tmpl>