<!-- $Id: example_api_addvar.tmpl 153 2004-04-20 20:02:22Z schst $ -->
<patTemplate:tmpl name="template1">
This template contains several vars:<br />
Foo: {FOO}<br />
Bar: {BAR}<br />
Argh: {ARGH}<br />
<hr />
</patTemplate:tmpl>

