<!-- $Id: example_api_parseintovar.tmpl 259 2004-08-10 19:44:17Z schst $ -->
<patTemplate:tmpl name="dest">
This is the first template.<br />
{BAR}
</patTemplate:tmpl>

<patTemplate:tmpl name="src">
	This is just any template with {FOO} in it.<br />
</patTemplate:tmpl>

