<!-- $Id: example_api_setattribute.tmpl 144 2004-04-20 18:49:22Z schst $ -->
<patTemplate:tmpl name="main">
This is the main template<br />
	<patTemplate:tmpl name="child">
	This is a child template.<br />
	</patTemplate:tmpl>
You may set the following attributes of a template:
<ul>
	<li>addsystemvars</li>
	<li>loop</li>
	<li>src (only if it has not been loaded)</li>
	<li>unusedvars</li>
	<li>useglobals</li>
	<li>visibility</li>
</ul>
</patTemplate:tmpl>

