<!-- $Id: example_type_simplecondition.tmpl 269 2004-08-19 08:25:25Z schst $ -->
<patTemplate:tmpl name="root">
	<patTemplate:tmpl name="cond" type="simplecondition" requiredvars="foo, bar">
	foo ({FOO}) and bar ({BAR}) are set...<br>
	</patTemplate:tmpl>

	<patTemplate:tmpl name="cond2" type="simplecondition" requiredvars="container.foo">
	This is a template that depends on container<br>
	</patTemplate:tmpl>
	
	<patTemplate:tmpl name="container">
	In container: {FOO}<br>
	</patTemplate:tmpl>

</patTemplate:tmpl>

