<!-- $Id: example_attributes_rowoffset.tmpl 328 2004-11-23 19:44:41Z schst $ -->
<patTemplate:tmpl name="page">

	<patTemplate:tmpl name="row">
	{PAT_ROW_VAR} {HERO}<br />
	</patTemplate:tmpl>

	<br />Using the rowOffset attribute:<br />

	<patTemplate:tmpl name="row2" rowOffset="310">
	{PAT_ROW_VAR} {HERO}<br />
	</patTemplate:tmpl>

</patTemplate:tmpl>
