<!-- $Id: example_function_time.tmpl 129 2004-04-19 20:44:24Z schst $ -->
<patTemplate:tmpl name="root">
	This template uses a function aka Horst:<br />
	<patTemplate:time format="H:i:s d.m.Y"/><br />

	Tomorrow is <patTemplate:time format="m/d/Y" time="tomorrow"/><br />

</patTemplate:tmpl>
