<!-- $Id: example_attributes_varscope.tmpl 300 2004-10-27 09:55:37Z schst $ -->
<patTemplate:tmpl name="var_storage">
</patTemplate:tmpl>
<patTemplate:tmpl name="page" type="condition" conditionvar="title" varscope="var_storage">

	<patTemplate:sub condition="__default">
		The title '{TITLE}' has been set.<br />
	</patTemplate:sub>

	<patTemplate:sub condition="__empty">
		No title has been set.<br />
	</patTemplate:sub>

</patTemplate:tmpl>