<!-- $Id: example_tags_var.tmpl 127 2004-04-19 20:04:12Z schst $ -->
<patTemplate:tmpl name="foo">
  Here's a variable:
  <patTemplate:var name="myvar" default="my default value"/>
  <br /><br />
</patTemplate:tmpl>
