<!-- $Id: example_api_displayparsedtemplate.tmpl 171 2004-04-21 18:16:06Z schst $ -->
<patTemplate:tmpl name="template1">
This is in example_api_displayparsedtemplate.tmpl<br /><br />
</patTemplate:tmpl>
