<!-- $Id: example_function_attribute.tmpl 252 2004-07-08 20:59:00Z schst $ -->
<patTemplate:tmpl name="page">

<patTemplate:Time>
	<patTemplate:Attribute name="format">d.m.Y</patTemplate:Attribute>
</patTemplate:Time>

</patTemplate:tmpl>
