<!-- $Id: example_api_readtemplatesfrominput.tmpl 144 2004-04-20 18:49:22Z schst $ -->
<patTemplate:tmpl name="template1">
patTemplate::readTemplatesFromInput() is the method that will be used
in all of your applications that use patTemplate.<br />
It is needed to load the templates from file, string or any other
input that you specified.<br /><br />
To read from custom sources like a database, you'll have to
create a new reader.
</patTemplate:tmpl>

