<!-- $Id: example_realworld_varscopeparent.tmpl 213 2004-05-17 19:01:27Z schst $ -->
<patTemplate:tmpl name="table">
Here's a var: {VAR}<br>
<patTemplate:tmpl name="inner" varscope="__parent">
Here's the same var: {VAR}<br>
</pattemplate:tmpl>
</patTemplate:tmpl>