<!-- $Id: example_api_displayparsedtemplate2.tmpl 171 2004-04-21 18:16:06Z schst $ -->
<patTemplate:tmpl name="template2">
This is in example_api_displayparsedtemplate2.tmpl<br /><br />
</patTemplate:tmpl>
