<patTemplate:tmpl name="page">
The page template includes other templates, using the <strong>src</strong> attribute:<br />
<br />
Main:<br />
<patTemplate:tmpl name="main" src="example_loadtemplate_foo.tmpl" autoload="no" parse="on" whitespace="trim" />

</patTemplate:tmpl>
