<!-- $Id: example_tags_tmpl.tmpl 142 2004-04-20 18:10:42Z schst $ -->
<patTemplate:tmpl name="template1">
This is the first template.<br /><br />
</patTemplate:tmpl>

<patTemplate:tmpl name="template2">
This is the second template.<br /><br />
	<patTemplate:tmpl name="template3">
	This is the third template, it is a child of the second.<br /><br />
	</patTemplate:tmpl>
</patTemplate:tmpl>

