<!-- $Id: example_api_addobject.tmpl 227 2004-06-03 18:14:13Z schst $ -->
<patTemplate:tmpl name="page">
Adding one object:<br />
OBJECT_NAME: {OBJ_NAME}<br />
OBJECT_SURNAME: {OBJ_SURNAME}<br />
OBJECT_AGE: {OBJ_AGE}<br />
<hr />
<patTemplate:tmpl name="row">
Adding an array of objects:<br />
OBJECT2_NAME: {OBJ2_NAME}<br />
OBJECT2_SURNAME: {OBJ2_SURNAME}<br />
OBJECT2_AGE: {OBJ2_AGE}<br />
<br />
</patTemplate:tmpl>

</patTemplate:tmpl>

