<!-- $Id: example_type_modulo.tmpl 274 2004-08-28 09:51:31Z schst $ -->
<patTemplate:tmpl name="row" type="modulo" modulo="3">
	<patTemplate:sub condition="0">
<div style="background-color:#ffcccc">{VALUE} (PAT_MODULO: {PAT_MODULO} // PAT_MODULO_REP: {PAT_MODULO_REP})</div>
	</patTemplate:sub>
	<patTemplate:sub condition="1">
<div style="background-color:#ccccff">{VALUE} (PAT_MODULO: {PAT_MODULO} // PAT_MODULO_REP: {PAT_MODULO_REP})</div>
	</patTemplate:sub>
	<patTemplate:sub condition="2">
<div style="background-color:#ccffcc">{VALUE} (PAT_MODULO: {PAT_MODULO} // PAT_MODULO_REP: {PAT_MODULO_REP})</div>
	</patTemplate:sub>
</patTemplate:tmpl>
