<!-- $Id: example_tags_sub.tmpl 143 2004-04-20 18:37:03Z schst $ -->
<patTemplate:tmpl name="page" type="condition" conditionvar="patter">

<patTemplate:sub condition="argh">
patter has been set to argh.<br />
</patTemplate:sub>

<patTemplate:sub condition="schst">
patter has been set to schst.<br />
</patTemplate:sub>

<patTemplate:sub condition="__default">
patter has been set to anything else.<br />
</patTemplate:sub>

</patTemplate:tmpl>

