<!-- $Id: example_attributes_limit.tmpl 230 2004-06-03 20:04:40Z schst $ -->
<patTemplate:tmpl name="page">

	<patTemplate:tmpl name="row" limit="4">
	{PAT_ROW_VAR} {HERO}<br />
	</patTemplate:tmpl>

</patTemplate:tmpl>
