<patTemplate:tmpl name="list">
<table border="1">
	<tr>
		<th>Superhero</th>
		<th>Realname</th>
	</tr>
	<patTemplate:tmpl name="list_entry">
	<patTemplate:comment>
		This template will be repeated.
	</patTemplate:comment>
	<tr>
		<td>{SUPERHERO}</td>
		<td>{REALNAME}</td>
	</tr>
	</patTemplate:tmpl>
</table>
</patTemplate:tmpl>
