<!-- $Id: example_misc_autonaming.tmpl 128 2004-04-19 20:40:26Z schst $ -->
<patTemplate:tmpl name="root">
	<patTemplate:tmpl>This template has no name</patTemplate:tmpl>

	<patTemplate:tmpl>This neither.</patTemplate:tmpl>
</patTemplate:tmpl>
