<!-- $Id: example_tags_link.tmpl 126 2004-04-19 19:57:31Z schst $ -->
<patTemplate:tmpl name="root">
Line 1
<patTemplate:tmpl name="div"><br><hr><br></patTemplate:tmpl>
Line 2
<patTemplate:link src="div"/>
Line 3
<patTemplate:link src="div"/>
Line 4
</patTemplate:tmpl>
