<!-- $Id: example_misc_maintainbc.tmpl 128 2004-04-19 20:40:26Z schst $ -->
<patTemplate:tmpl name="cond" type="condition" conditionvar="bc">
	<patTemplate:sub condition="default">
		The string default has been passed.<br>
	</patTemplate:sub>

	<patTemplate:sub condition="__default">
		Any string has been passed<br />
	</patTemplate:sub>
</patTemplate:tmpl>
