<!-- $Id: example_api_freetemplate.tmpl 253 2004-07-15 19:53:45Z schst $ -->
<patTemplate:tmpl name="root">
This is root: {FOO}<br />

<patTemplate:tmpl name="nested">
This is nested: {FOO}<br />
</patTemplate:tmpl>

</patTemplate:tmpl>

