<!-- $Id: example_attributes_whitespace.tmpl 142 2004-04-20 18:10:42Z schst $ -->
<patTemplate:tmpl name="page">
This page contains several templates.<br />
In some, whitespace characters will be removed, in some they are kept.<br /><br />

<patTemplate:tmpl name="keepWS" whitespace="keep">
I

  want

    my

      cookies!<br /><br />
</patTemplate:tmpl>

<patTemplate:tmpl name="trimWS" whitespace="trim">
I

  want

    my

      cookies!<br /><br />
</patTemplate:tmpl>

</patTemplate:tmpl>
