<!-- $Id: example_function_translate.tmpl 315 2004-10-28 10:18:11Z schst $ -->
<patTemplate:tmpl name="root">
Do not translate...<br />
<pattemplate:Translate>My hovercraft is full of eels.</patTemplate:Translate><br />
<pattemplate:Translate>I do not have a car.</patTemplate:Translate><br />
<pattemplate:Translate key="hw">Hello world.</patTemplate:Translate><br />

<pattemplate:Translate key="test">This text contains "some" quotes.</patTemplate:Translate><br />

<pattemplate:Translate>I do not have a car.</patTemplate:Translate><br />

</patTemplate:tmpl>
